<!-- preloader area start -->
<div class="preloader" id="preloader">
  <div class="preloader-inner">
    <div class="loader_bars">
      <span></span>
    </div>
  </div>
</div>
<!-- preloader area end -->
<!-- Header area Starts -->
<header class="header-style-01">
  <!-- Menu area Starts -->
  <nav class="navbar navbar-area color-three nav-absolute navbar-two navbar-expand-lg">
    <div class="container container-two nav-container">
      <div class="responsive-mobile-menu">
        <div class="logo-wrapper">
          <a href="index.html" class="logo">
            <img src="assets/img/logo-02.png" alt="">
          </a>
        </div>
        <a href="#0" class="click_show_icon">
          <i class="las la-ellipsis-v"></i>
        </a>
        <button class="navbar-toggler black-color" type="button" data-toggle="collapse" data-target="#bizcoxx_main_menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bizcoxx_main_menu">
        <ul class="navbar-nav">
          <li class="menu-item-has-children">
            <a href="javascript:void(0)">Home</a>
            <ul class="sub-menu">
              <li><a href="index.html">Home 01</a></li>
              <li><a href="02_index.html">Home 02</a></li>
              <li><a href="03_index.html">Home 03</a></li>
              <li><a href="04_index.html">Home 04</a></li>
            </ul>
          </li>
          <li><a href="about.html">About</a></li>
          <li><a href="service_list.html">Service List</a></li>
          <li><a href="dashboard.html">Dashboard</a></li>
          <li class="menu-item-has-children">
            <a href="javascript:void(0)">Others</a>
            <ul class="sub-menu">
              <li><a href="category.html">All Category</a></li>
              <li><a href="service_details.html">Service Details</a></li>
              <li><a href="02_service_details.html">Service Details Two</a></li>
              <li><a href="03_service_details.html">Service Details Three</a></li>
              <li><a href="04_service_details.html">Service Details Four</a></li>
              <li><a href="profile.html">Profile</a></li>
              <li><a href="seller_profile.html">Seller Profile</a></li>
              <li><a href="seller_order_view.html">Seller View</a></li>
              <li><a href="invoice.html">Invoice</a></li>
              <li><a href="signup.html">Signup</a></li>
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="error.html">404</a></li>
              <li><a href="multistep_form.html">multistep Form</a></li>
              <li><a href="02_multistep_form.html">multistep Form Two</a></li>
              <li><a href="register_step_form.html">RegisterStep Form</a></li>
            </ul>
          </li>
          <li class="menu-item-has-children">
            <a href="javascript:void(0)">Blog</a>
            <ul class="sub-menu">
              <li><a href="blog.html">Blog</a></li>
              <li><a href="blog_details.html">Blog Details</a></li>
            </ul>
          </li>
          <li><a href="contact.html">contact</a></li>
        </ul>
      </div>
      <div class="nav-right-content">
        <div class="info-bar-item">
          <div class="notification-icon icon">
            <a class="single-icon" href="javascript:void(0)"> <i class="las la-bell"></i> </a>
            <span class="notification-number"> 5 </span>
            <div class="notification-list-wrapper">
              <h6 class="notification-title"> Notifications </h6>
              <ul class="notification-list">
                <li class="list">
                  <div class="notification-list-flex">
                    <div class="item-icon">
                      <i class="las la-bell"></i>
                    </div>
                    <div class="notification-contents">
                      <a class="list-title" href="javascript:void(0)"> Notification One </a>
                      <span class="list-sub"> 4 hours ago </span>
                    </div>
                  </div>
                </li>
                <li class="list">
                  <div class="notification-list-flex">
                    <div class="item-icon">
                      <i class="las la-bell"></i>
                    </div>
                    <div class="notification-contents">
                      <a class="list-title" href="javascript:void(0)"> Notification Two </a>
                      <span class="list-sub"> 8 hours ago </span>
                    </div>
                  </div>
                </li>
                <li class="list">
                  <div class="notification-list-flex">
                    <div class="item-icon">
                      <i class="las la-bell"></i>
                    </div>
                    <div class="notification-contents">
                      <a class="list-title" href="javascript:void(0)"> Notification Three </a>
                      <span class="list-sub"> 1 day ago </span>
                    </div>
                  </div>
                </li>
                <li class="list">
                  <div class="notification-list-flex">
                    <div class="item-icon">
                      <i class="las la-bell"></i>
                    </div>
                    <div class="notification-contents">
                      <a class="list-title" href="javascript:void(0)"> Notification Four </a>
                      <span class="list-sub"> 3 day ago </span>
                    </div>
                  </div>
                </li>
                <li class="list">
                  <div class="notification-list-flex">
                    <div class="item-icon">
                      <i class="las la-bell"></i>
                    </div>
                    <div class="notification-contents">
                      <a class="list-title" href="javascript:void(0)"> Notification Five </a>
                      <span class="list-sub"> 7 day ago </span>
                    </div>
                  </div>
                </li>
              </ul>
              <a href="javascript:void(0)" class="all-notification"> See All Notification </a>
            </div>
          </div>
        </div>
        <a href="javascript:void(0)" class="info-bar-item-two">
          <div class="author-thumb">
            <img src="assets/img/author-nav.jpg" alt="">
          </div>
          <div class="author-nav-content">
            <span class="title"> Alex Jerin </span>
          </div>
        </a>
      </div>
    </div>
  </nav>
  <!-- Menu area end -->
</header>
<div class="overlays"></div>
<!-- Header area end -->
<!-- Banner area Starts -->
<div class="banner-area home-four-banner gradient-bg-1">
  <div class="container container-two">
    <div class="row flex-row-reverse flex-xl-row align-items-center">
      <div class="col-xl-7">
        <div class="banner-contents style-03">
          <h2 class="banner-title"> One-stop Solution for your <span class="color-three"> Services </span> </h2>
          <span class="title-top"> Order any service, anytime from anywhere </span>
          <div class="banner-bottom-content">
            <form action="#" class="banner-search-form">
              <div class="banner-address-select">
                <select>
                  <option value="1">New York</option>
                  <option value="2">London</option>
                  <option value="2">Eden Garden</option>
                  <option value="2">Paris</option>
                  <option value="2">Barcelona</option>
                </select>
              </div>
              <div class="single-input">
                <input class="form--control" type="text" placeholder="What are you look for">
                <div class="icon-search">
                  <i class="las la-search"></i>
                </div>
                <button type="submit"> <i class="las la-search"></i> </button>
              </div>
            </form>
            <div class="banner-keywords">
              <span class="keyword-title"> Popular: </span>
              <ul class="keyword-tag">
                <li>
                  <a href="javascript:void(0)"> Electrician </a>
                </li>
                <li>
                  <a href="javascript:void(0)"> Cleaner </a>
                </li>
                <li>
                  <a href="javascript:void(0)"> Painting </a>
                </li>
                <li>
                  <a href="javascript:void(0)"> Saloon </a>
                </li>
                <li>
                  <a href="javascript:void(0)"> Home Move </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-5">
        <div class="banner-right-contents style-03">
          <div class="banner-right-thumb wow fadeInUp" data-wow-delay=".2s">
            <img src="assets/img/banner/banner1.png" alt="">
            <div class="banner-dot-shape">
              <img src="assets/img/banner/dot-square.png" alt="">
            </div>
          </div>
          <div class="banner-cleaning-service">
            <div class="icon">
              <i class="las la-broom"></i>
            </div>
            <div class="icon-contents">
              <span class="thumb-cleaning-title"> <a href="javascript:void(0)"> Cleaning Service </a> </span>
              <ul class="review-cleaning">
                <li> <i class="las la-star"></i> </li>
                <li> <i class="las la-star"></i> </li>
                <li> <i class="las la-star"></i> </li>
                <li> <i class="las la-star"></i> </li>
                <li> <i class="las la-star"></i> </li>
              </ul>
            </div>
          </div>
          <div class="banner-client">
            <div class="smile-contents-all">
              <div class="thumb-smile">
                <img src="assets/img/banner/banner-smile.png" alt="">
              </div>
              <div class="smile-content">
                <span class="smile-title"> 12,978 </span>
                <span class="smile-para"> Happy Clients </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner area end -->
<!-- Banner area end -->
<!-- Category area starts -->
<section class="category-area padding-top-100">
  <div class="container container-two">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title-two">
          <h3 class="title"> Brows Category </h3>
          <a href="category.html" class="section-btn"> Explore All </a>
        </div>
      </div>
    </div>
    <div class="row margin-top-20">
      <div class="col-xl-2 col-lg-3 col-sm-6 col-md-4 margin-top-30 category-child">
        <div class="single-category style-02 wow fadeInUp" data-wow-delay=".2s">
          <div class="icon">
            <img src="assets/img/category/c1.png" alt="">
          </div>
          <div class="category-contents">
            <h4 class="category-title"> <a href="category.html"> Cleaning </a> </h4>
            <span class="category-para"> 36+ Service </span>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-sm-6 col-md-4 margin-top-30 category-child">
        <div class="single-category style-02 wow fadeInDown" data-wow-delay=".2s">
          <div class="icon">
            <img src="assets/img/category/c2.png" alt="">
          </div>
          <div class="category-contents">
            <h4 class="category-title"> <a href="category.html"> Home Move </a> </h4>
            <span class="category-para"> 36+ Service </span>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-sm-6 col-md-4 margin-top-30 category-child">
        <div class="single-category style-02 wow fadeInUp" data-wow-delay=".2s">
          <div class="icon">
            <img src="assets/img/category/c3.png" alt="">
          </div>
          <div class="category-contents">
            <h4 class="category-title"> <a href="category.html"> Electrician </a> </h4>
            <span class="category-para"> 36+ Service </span>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-sm-6 col-md-4 margin-top-30 category-child">
        <div class="single-category style-02 wow fadeInDown" data-wow-delay=".2s">
          <div class="icon">
            <img src="assets/img/category/c4.png" alt="">
          </div>
          <div class="category-contents">
            <h4 class="category-title"> <a href="category.html"> Saloon </a> </h4>
            <span class="category-para"> 36+ Service </span>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-sm-6 col-md-4 margin-top-30 category-child">
        <div class="single-category style-02 wow fadeInUp" data-wow-delay=".2s">
          <div class="icon">
            <img src="assets/img/category/c5.png" alt="">
          </div>
          <div class="category-contents">
            <h4 class="category-title"> <a href="category.html"> Painting </a> </h4>
            <span class="category-para"> 36+ Service </span>
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-3 col-sm-6 col-md-4 margin-top-30 category-child">
        <div class="single-category style-02 wow fadeInDown" data-wow-delay=".2s">
          <div class="icon">
            <img src="assets/img/category/c6.png" alt="">
          </div>
          <div class="category-contents">
            <h4 class="category-title"> <a href="category.html"> Helping </a> </h4>
            <span class="category-para"> 30+ Service </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Category area end -->
<!-- Feature Service area starts -->
<section class="services-area padding-top-100">
  <div class="container container-two">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title-two">
          <h3 class="title"> Featured Services </h3>
          <a href="service_list.html" class="section-btn"> Explore All </a>
        </div>
      </div>
    </div>
    <div class="row margin-top-20">
      <div class="col-xl-3 col-md-6 margin-top-30">
        <div class="single-service service-two style-03 service-padding section-bg-2 wow fadeInUp" data-wow-delay=".2s">
          <a href="service_details.html" class="service-thumb">
            <img src="assets/img/service/fs1.jpg" alt="">
            <div class="award-icons style-02">
              <i class="las la-award"></i>
            </div>
          </a>
          <div class="services-contents content-padding-reverse">
            <ul class="author-tag">
              <li class="tag-list">
                <a href="javascript:void(0)">
                  <div class="authors">
                    <div class="thumb">
                      <img src="assets/img/service/author.jpg" alt="">
                      <span class="notification-dot"></span>
                    </div>
                    <span class="author-title"> Rajia Akter </span>
                  </div>
                </a>
              </li>
              <li class="tag-list">
                <a href="javascript:void(0)">
                  <span class="icon"> <i class="las la-star"></i> </span>
                  <span class="reviews"> 4.9 (431) </span>
                </a>
              </li>
            </ul>
            <h4 class="common-title-two hover-color-three"> <a href="service_details.html"> All Painting & Renovation Service </a> </h4>
            <p class="common-para"> It is a long established fact that a reader will be distracted by the readable </p>
            <div class="service-price-wrapper mt-4">
              <div class="service-price style-02">
                <span class="prices style-02 color-3"> $80.00 </span>
              </div>
              <div class="btn-wrapper">
                <a href="multistep_form.html" class="cmn-btn btn-outline-light btn-medium"> Book Now </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 margin-top-30">
        <div class="single-service service-two style-03 service-padding section-bg-2 wow fadeInDown" data-wow-delay=".2s">
          <a href="service_details.html" class="service-thumb">
            <img src="assets/img/service/fs2.jpg" alt="">
            <div class="award-icons style-02">
              <i class="las la-award"></i>
            </div>
          </a>
          <div class="services-contents content-padding-reverse">
            <ul class="author-tag">
              <li class="tag-list">
                <a href="javascript:void(0)">
                  <div class="authors">
                    <div class="thumb">
                      <img src="assets/img/service/author2.jpg" alt="">
                      <span class="notification-dot"></span>
                    </div>
                    <span class="author-title"> Riyad Hossain </span>
                  </div>
                </a>
              </li>
              <li class="tag-list">
                <a href="javascript:void(0)">
                  <span class="icon"> <i class="las la-star"></i> </span>
                  <span class="reviews"> 4.9 (533) </span>
                </a>
              </li>
            </ul>
            <h4 class="common-title-two hover-color-three"> <a href="service_details.html"> All Emergency Electrical Support </a> </h4>
            <p class="common-para"> It is a long established fact that a reader will be distracted by the readable </p>
            <div class="service-price-wrapper mt-4">
              <div class="service-price style-02">
                <span class="prices style-02 color-3"> $95.00 </span>
              </div>
              <div class="btn-wrapper">
                <a href="multistep_form.html" class="cmn-btn btn-outline-light btn-medium"> Book Now </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 margin-top-30">
        <div class="single-service service-two style-03 service-padding section-bg-2 wow fadeInUp" data-wow-delay=".2s">
          <a href="service_details.html" class="service-thumb">
            <img src="assets/img/service/fs3.jpg" alt="">
            <div class="award-icons style-02">
              <i class="las la-award"></i>
            </div>
          </a>
          <div class="services-contents content-padding-reverse">
            <ul class="author-tag">
              <li class="tag-list">
                <a href="javascript:void(0)">
                  <div class="authors">
                    <div class="thumb">
                      <img src="assets/img/service/author3.jpg" alt="">
                      <span class="notification-dot"></span>
                    </div>
                    <span class="author-title"> Arafat Hossain </span>
                  </div>
                </a>
              </li>
              <li class="tag-list">
                <a href="javascript:void(0)">
                  <span class="icon"> <i class="las la-star"></i> </span>
                  <span class="reviews"> 4.9 (331) </span>
                </a>
              </li>
            </ul>
            <h4 class="common-title-two hover-color-three"> <a href="service_details.html"> All Hair Cut & Hair Color Services </a> </h4>
            <p class="common-para"> It is a long established fact that a reader will be distracted by the readable </p>
            <div class="service-price-wrapper mt-4">
              <div class="service-price style-02">
                <span class="prices style-02 color-3"> $90.00 </span>
              </div>
              <div class="btn-wrapper">
                <a href="multistep_form.html" class="cmn-btn btn-outline-light btn-medium"> Book Now </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 margin-top-30">
        <div class="single-service service-two style-03 service-padding section-bg-2 wow fadeInDown" data-wow-delay=".2s">
          <a href="service_details.html" class="service-thumb">
            <img src="assets/img/service/fs4.jpg" alt="">
            <div class="award-icons style-02">
              <i class="las la-award"></i>
            </div>
          </a>
          <div class="services-contents content-padding-reverse">
            <ul class="author-tag">
              <li class="tag-list">
                <a href="javascript:void(0)">
                  <div class="authors">
                    <div class="thumb">
                      <img src="assets/img/service/author4.jpg" alt="">
                      <span class="notification-dot"></span>
                    </div>
                    <span class="author-title"> Ab Kalam </span>
                  </div>
                </a>
              </li>
              <li class="tag-list">
                <a href="javascript:void(0)">
                  <span class="icon"> <i class="las la-star"></i> </span>
                  <span class="reviews"> 4.8 (161) </span>
                </a>
              </li>
            </ul>
            <h4 class="common-title-two hover-color-three"> <a href="service_details.html"> All Painting & Renovation Service </a> </h4>
            <p class="common-para"> It is a long established fact that a reader will be distracted by the readable </p>
            <div class="service-price-wrapper mt-4">
              <div class="service-price style-02">
                <span class="prices style-02 color-3"> $85.00 </span>
              </div>
              <div class="btn-wrapper">
                <a href="multistep_form.html" class="cmn-btn btn-outline-light btn-medium"> Book Now </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Featured Service area end -->
<!-- Marketplace area end -->
<section class="margketplace-area padding-top-70">
  <div class="market-shapes">
    <img src="assets/img/marketplace/market-shape.png" alt="">
  </div>
  <div class="container container-two">
    <div class="row flex-row-reverse align-items-center">
      <div class="col-xl-6">
        <div class="row">
          <div class="col-md-6 margin-top-30">
            <div class="single-marketplace style-03 wow fadeInUp" data-wow-delay=".2s">
              <div class="icon">
                <img src="assets/img/marketplace/m1.png" alt="">
              </div>
              <div class="marketplace-contents">
                <h4 class="common-title-two hover-color-three"> <a href="javascript:void(0)"> Service Commitment </a> </h4>
                <p class="common-para">It is a long established fact that a reader will be distracted by the readable. It is a long established fact that a reader. </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 margin-top-30">
            <div class="single-marketplace style-03 wow fadeInDown" data-wow-delay=".2s">
              <div class="icon">
                <img src="assets/img/marketplace/m2.png" alt="">
              </div>
              <div class="marketplace-contents">
                <h4 class="common-title-two hover-color-three"> <a href="javascript:void(0)"> Super Experience </a> </h4>
                <p class="common-para"> It is a long established fact that a reader will be distracted by the readable. It is a long established fact that a reader. </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 margin-top-30">
            <div class="single-marketplace style-03 wow fadeInUp" data-wow-delay=".2s">
              <div class="icon">
                <img src="assets/img/marketplace/m3.png" alt="">
              </div>
              <div class="marketplace-contents">
                <h4 class="common-title-two hover-color-three"> <a href="javascript:void(0)"> Secure Data & Payment </a> </h4>
                <p class="common-para"> It is a long established fact that a reader will be distracted by the readable. It is a long established fact that a reader. </p>
              </div>
            </div>
          </div>
          <div class="col-md-6 margin-top-30">
            <div class="single-marketplace style-03 wow fadeInDown" data-wow-delay=".2s">
              <div class="icon">
                <img src="assets/img/marketplace/m4.png" alt="">
              </div>
              <div class="marketplace-contents">
                <h4 class="common-title-two hover-color-three"> <a href="javascript:void(0)"> Dedecated Support </a> </h4>
                <p class="common-para"> It is a long established fact that a reader will be distracted by the readable. It is a long established fact that a reader. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 margin-top-30">
        <div class="marketplace-left-contents">
          <h2 class="title"> Why you ChooseThis Marketplace? </h2>
          <p class="market-para"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc in rutrum odio, a blandit leo. Mauris placerat vulputate lacus eu eleifend. Donec euismod, metus id consequat egestas, tellus dui fermentum est, id porttitor tellus
            tortor in tellus. Maecenas non facilisis tortor. Duis et euismod augue. </p>
          <div class="btn-wrapper">
            <a href="javascript:void(0)" class="cmn-btn btn-bg-3"> Become a Seller </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Marketplace area end -->
<!-- Popular Service area starts -->
<section class="services-area padding-top-100 padding-bottom-100">
  <div class="container container-two">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title-two">
          <h3 class="title"> Popular Services </h3>
          <a href="service_list.html" class="section-btn"> Explore All </a>
        </div>
      </div>
    </div>
    <div class="row margin-top-20">
      <div class="service-item-all">
        <div class="service-item-devide wow fadeInUp" data-wow-delay=".2s">
          <div class="single-service service-two style-03 section-bg-2">
            <a href="service_details.html" class="service-thumb">
              <img src="assets/img/service/s1.jpg" alt="">
            </a>
            <div class="services-contents">
              <ul class="author-tag">
                <li class="tag-list">
                  <a href="javascript:void(0)">
                    <div class="authors">
                      <div class="thumb">
                        <img src="assets/img/service/author.jpg" alt="">
                        <span class="notification-dot"></span>
                      </div>
                      <span class="author-title"> Rajia Akter </span>
                    </div>
                  </a>
                </li>
                <li class="tag-list">
                  <a href="javascript:void(0)">
                    <span class="icon"> <i class="las la-star"></i> </span>
                    <span class="reviews"> 4.7 (231) </span>
                  </a>
                </li>
              </ul>
              <h4 class="common-title-two hover-color-three"> <a href="service_details.html"> All Painting & Renovation Service </a> </h4>
              <div class="service-price-wrapper mt-4">
                <div class="service-price">
                  <span class="prices style-02 color-3"> $60.00 </span>
                </div>
                <div class="btn-wrapper">
                  <a href="multistep_form.html" class="cmn-btn btn-small btn-bg-light"> Book Now </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="service-item-devide wow fadeInDown" data-wow-delay=".2s">
          <div class="single-service service-two style-03 section-bg-2">
            <a href="service_details.html" class="service-thumb">
              <img src="assets/img/service/s2.jpg" alt="">
            </a>
            <div class="services-contents">
              <ul class="author-tag">
                <li class="tag-list">
                  <a href="javascript:void(0)">
                    <div class="authors">
                      <div class="thumb">
                        <img src="assets/img/service/author2.jpg" alt="">
                        <span class="notification-dot"></span>
                      </div>
                      <span class="author-title"> Riyad Hossain </span>
                    </div>
                  </a>
                </li>
                <li class="tag-list">
                  <a href="javascript:void(0)">
                    <span class="icon"> <i class="las la-star"></i> </span>
                    <span class="reviews"> 4.9 (720) </span>
                  </a>
                </li>
              </ul>
              <h4 class="common-title-two hover-color-three"> <a href="service_details.html"> All Emergency Electrical Support </a> </h4>
              <div class="service-price-wrapper mt-4">
                <div class="service-price">
                  <span class="prices style-02 color-3"> $99.00 </span>
                </div>
                <div class="btn-wrapper">
                  <a href="multistep_form.html" class="cmn-btn btn-small btn-bg-light"> Book Now </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="service-item-devide wow fadeInUp" data-wow-delay=".2s">
          <div class="single-service service-two style-03 section-bg-2">
            <a href="service_details.html" class="service-thumb">
              <img src="assets/img/service/s3.jpg" alt="">
            </a>
            <div class="services-contents">
              <ul class="author-tag">
                <li class="tag-list">
                  <a href="javascript:void(0)">
                    <div class="authors">
                      <div class="thumb">
                        <img src="assets/img/service/author3.jpg" alt="">
                        <span class="notification-dot"></span>
                      </div>
                      <span class="author-title"> Arafat Hossain </span>
                    </div>
                  </a>
                </li>
                <li class="tag-list">
                  <a href="javascript:void(0)">
                    <span class="icon"> <i class="las la-star"></i> </span>
                    <span class="reviews"> 4.7 (315) </span>
                  </a>
                </li>
              </ul>
              <h4 class="common-title-two hover-color-three"> <a href="service_details.html"> All Hair Cut & Hair Color Services </a> </h4>
              <div class="service-price-wrapper mt-4">
                <div class="service-price">
                  <span class="prices style-02 color-3"> $85.00 </span>
                </div>
                <div class="btn-wrapper">
                  <a href="multistep_form.html" class="cmn-btn btn-small btn-bg-light"> Book Now </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="service-item-devide wow fadeInDown" data-wow-delay=".2s">
          <div class="single-service service-two style-03 section-bg-2">
            <a href="service_details.html" class="service-thumb">
              <img src="assets/img/service/s4.jpg" alt="">
            </a>
            <div class="services-contents">
              <ul class="author-tag">
                <li class="tag-list">
                  <a href="javascript:void(0)">
                    <div class="authors">
                      <div class="thumb">
                        <img src="assets/img/service/author4.jpg" alt="">
                        <span class="notification-dot"></span>
                      </div>
                      <span class="author-title"> Ab Kalam </span>
                    </div>
                  </a>
                </li>
                <li class="tag-list">
                  <a href="javascript:void(0)">
                    <span class="icon"> <i class="las la-star"></i> </span>
                    <span class="reviews"> 4.9 (417) </span>
                  </a>
                </li>
              </ul>
              <h4 class="common-title-two hover-color-three"> <a href="service_details.html"> All Painting & Renovation Service </a> </h4>
              <div class="service-price-wrapper mt-4">
                <div class="service-price">
                  <span class="prices style-02 color-3"> $70.00 </span>
                </div>
                <div class="btn-wrapper">
                  <a href="multistep_form.html" class="cmn-btn btn-small btn-bg-light"> Book Now </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="service-item-devide wow fadeInUp" data-wow-delay=".2s">
          <div class="single-service service-two style-03 section-bg-2">
            <a href="service_details.html" class="service-thumb">
              <img src="assets/img/service/s5.jpg" alt="">
            </a>
            <div class="services-contents">
              <ul class="author-tag">
                <li class="tag-list">
                  <a href="javascript:void(0)">
                    <div class="authors">
                      <div class="thumb">
                        <img src="assets/img/service/author5.jpg" alt="">
                        <span class="notification-dot"></span>
                      </div>
                      <span class="author-title"> Md Shiblo </span>
                    </div>
                  </a>
                </li>
                <li class="tag-list">
                  <a href="javascript:void(0)">
                    <span class="icon"> <i class="las la-star"></i> </span>
                    <span class="reviews"> 4.6 (199) </span>
                  </a>
                </li>
              </ul>
              <h4 class="common-title-two hover-color-three"> <a href="service_details.html"> House Moving & Shifting Service </a> </h4>
              <div class="service-price-wrapper mt-4">
                <div class="service-price">
                  <span class="prices style-02 color-3"> $70.00 </span>
                </div>
                <div class="btn-wrapper">
                  <a href="multistep_form.html" class="cmn-btn btn-small btn-bg-light"> Book Now </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="service-item-devide wow fadeInDown" data-wow-delay=".2s">
          <div class="single-service service-two style-03 section-bg-2">
            <a href="service_details.html" class="service-thumb">
              <img src="assets/img/service/s6.jpg" alt="">
            </a>
            <div class="services-contents">
              <ul class="author-tag">
                <li class="tag-list">
                  <a href="javascript:void(0)">
                    <div class="authors">
                      <div class="thumb">
                        <img src="assets/img/service/author.jpg" alt="">
                        <span class="notification-dot"></span>
                      </div>
                      <span class="author-title"> Rajia Akter </span>
                    </div>
                  </a>
                </li>
                <li class="tag-list">
                  <a href="javascript:void(0)">
                    <span class="icon"> <i class="las la-star"></i> </span>
                    <span class="reviews"> 4.8 (311) </span>
                  </a>
                </li>
              </ul>
              <h4 class="common-title-two hover-color-three"> <a href="service_details.html"> All Painting & Renovation Service </a> </h4>
              <div class="service-price-wrapper mt-4">
                <div class="service-price">
                  <span class="prices style-02 color-3"> $65.00 </span>
                </div>
                <div class="btn-wrapper">
                  <a href="multistep_form.html" class="cmn-btn btn-small btn-bg-light"> Book Now </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="service-item-devide wow fadeInUp" data-wow-delay=".2s">
          <div class="single-service service-two style-03 section-bg-2">
            <a href="service_details.html" class="service-thumb">
              <img src="assets/img/service/s7.jpg" alt="">
            </a>
            <div class="services-contents">
              <ul class="author-tag">
                <li class="tag-list">
                  <a href="javascript:void(0)">
                    <div class="authors">
                      <div class="thumb">
                        <img src="assets/img/service/author2.jpg" alt="">
                        <span class="notification-dot"></span>
                      </div>
                      <span class="author-title"> Md Shafiq </span>
                    </div>
                  </a>
                </li>
                <li class="tag-list">
                  <a href="javascript:void(0)">
                    <span class="icon"> <i class="las la-star"></i> </span>
                    <span class="reviews"> 4.7 (322) </span>
                  </a>
                </li>
              </ul>
              <h4 class="common-title-two hover-color-three"> <a href="service_details.html"> Home & All Other Cleaning Service </a> </h4>
              <div class="service-price-wrapper mt-4">
                <div class="service-price">
                  <span class="prices style-02 color-3"> $65.00 </span>
                </div>
                <div class="btn-wrapper">
                  <a href="multistep_form.html" class="cmn-btn btn-small btn-bg-light"> Book Now </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="service-item-devide wow fadeInDown" data-wow-delay=".2s">
          <div class="single-service service-two style-03 section-bg-2">
            <a href="service_details.html" class="service-thumb">
              <img src="assets/img/service/s8.jpg" alt="">
            </a>
            <div class="services-contents">
              <ul class="author-tag">
                <li class="tag-list">
                  <a href="javascript:void(0)">
                    <div class="authors">
                      <div class="thumb">
                        <img src="assets/img/service/author3.jpg" alt="">
                        <span class="notification-dot"></span>
                      </div>
                      <span class="author-title"> Sharif Ahmed </span>
                    </div>
                  </a>
                </li>
                <li class="tag-list">
                  <a href="javascript:void(0)">
                    <span class="icon"> <i class="las la-star"></i> </span>
                    <span class="reviews"> 4.8 (249) </span>
                  </a>
                </li>
              </ul>
              <h4 class="common-title-two hover-color-three"> <a href="service_details.html"> Cleaning & Renovation Service </a> </h4>
              <div class="service-price-wrapper mt-4">
                <div class="service-price">
                  <span class="prices style-02 color-3"> $85.00 </span>
                </div>
                <div class="btn-wrapper">
                  <a href="multistep_form.html" class="cmn-btn btn-small btn-bg-light"> Book Now </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="service-item-devide wow fadeInUp" data-wow-delay=".2s">
          <div class="single-service service-two style-03 section-bg-2">
            <a href="service_details.html" class="service-thumb">
              <img src="assets/img/service/s9.jpg" alt="">
            </a>
            <div class="services-contents">
              <ul class="author-tag">
                <li class="tag-list">
                  <a href="javascript:void(0)">
                    <div class="authors">
                      <div class="thumb">
                        <img src="assets/img/service/author4.jpg" alt="">
                        <span class="notification-dot"></span>
                      </div>
                      <span class="author-title"> Yeasin Hamid </span>
                    </div>
                  </a>
                </li>
                <li class="tag-list">
                  <a href="javascript:void(0)">
                    <span class="icon"> <i class="las la-star"></i> </span>
                    <span class="reviews"> 4.9 (432) </span>
                  </a>
                </li>
              </ul>
              <h4 class="common-title-two hover-color-three"> <a href="service_details.html"> All Emergency Electrical Support </a> </h4>
              <div class="service-price-wrapper mt-4">
                <div class="service-price">
                  <span class="prices style-02 color-3"> $90.00 </span>
                </div>
                <div class="btn-wrapper">
                  <a href="multistep_form.html" class="cmn-btn btn-small btn-bg-light"> Book Now </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="service-item-devide wow fadeInDown" data-wow-delay=".2s">
          <div class="single-service service-two style-03 section-bg-2">
            <a href="service_details.html" class="service-thumb">
              <img src="assets/img/service/s10.jpg" alt="">
            </a>
            <div class="services-contents">
              <ul class="author-tag">
                <li class="tag-list">
                  <a href="javascript:void(0)">
                    <div class="authors">
                      <div class="thumb">
                        <img src="assets/img/service/author5.jpg" alt="">
                        <span class="notification-dot"></span>
                      </div>
                      <span class="author-title"> Md Khairul </span>
                    </div>
                  </a>
                </li>
                <li class="tag-list">
                  <a href="javascript:void(0)">
                    <span class="icon"> <i class="las la-star"></i> </span>
                    <span class="reviews"> 4.9 (294) </span>
                  </a>
                </li>
              </ul>
              <h4 class="common-title-two hover-color-three"> <a href="service_details.html"> House Moving & Shifting Service </a> </h4>
              <div class="service-price-wrapper mt-4">
                <div class="service-price">
                  <span class="prices style-02 color-3"> $85.00 </span>
                </div>
                <div class="btn-wrapper">
                  <a href="multistep_form.html" class="cmn-btn btn-small btn-bg-light"> Book Now </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Popular Service area end -->
<!-- Join Area Starts -->
<section class="join-area gradient-bg-2 padding-top-100 padding-bottom-100">
  <div class="join-shapes">
    <img src="assets/img/join/circle1.png" alt="">
    <img src="assets/img/join/circle2.png" alt="">
    <img src="assets/img/join/dot-square.png" alt="">
    <img src="assets/img/join/line-cross.png" alt="">
  </div>
  <div class="container container-two">
    <div class="join-content-wrapper">
      <div class="join-contents">
        <h2 class="title"> Join with us to Sale your service & growth your Experience </h2>
        <span class="join-para"> Order any service, anytime from anywhere </span>
        <div class="btn-wrapper margin-top-50">
          <a href="javascript:void(0)" class="cmn-btn btn-bg-3"> Become a Seller </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Join Area Ends -->
<!-- Blog area starts -->
<section class="blog-area padding-top-100 padding-bottom-100">
  <div class="container container-two">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title-two">
          <h3 class="title"> Blog & Articles </h3>
          <a href="blog.html" class="section-btn"> Explore All </a>
        </div>
      </div>
    </div>
    <div class="row margin-top-10">
      <div class="col-xl-3 col-md-6 margin-top-30">
        <div class="single-blog style-03 wow fadeInUp" data-wow-delay=".2s">
          <a href="blog_details.html" class="blog-thumb">
            <img src="assets/img/blog/b1.jpg" alt="">
          </a>
          <div class="blog-contents">
            <ul class="tags hover-color-three">
              <li>
                <a href="javascript:void(0)"> <i class="las la-clock"></i> 14 Feb 2022 </a>
              </li>
              <li>
                <a href="javascript:void(0)"> <i class="las la-tag"></i> Painting </a>
              </li>
            </ul>
            <h4 class="common-title-two hover-color-three"> <a href="blog_details.html"> All Painting & Renovation Services </a> </h4>
            <p class="common-para"> It is a long established fact that a reader will be distracted by the readable </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 margin-top-30">
        <div class="single-blog style-03 wow fadeInDown" data-wow-delay=".2s">
          <a href="blog_details.html" class="blog-thumb">
            <img src="assets/img/blog/b2.jpg" alt="">
          </a>
          <div class="blog-contents">
            <ul class="tags hover-color-three">
              <li>
                <a href="javascript:void(0)"> <i class="las la-clock"></i> 15 Feb 2022 </a>
              </li>
              <li>
                <a href="javascript:void(0)"> <i class="las la-tag"></i> Electric </a>
              </li>
            </ul>
            <h4 class="common-title-two hover-color-three"> <a href="blog_details.html"> All Emergency Electrical Support </a> </h4>
            <p class="common-para"> It is a long established fact that a reader will be distracted by the readable </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 margin-top-30">
        <div class="single-blog style-03 wow fadeInUp" data-wow-delay=".2s">
          <a href="blog_details.html" class="blog-thumb">
            <img src="assets/img/blog/b3.jpg" alt="">
          </a>
          <div class="blog-contents">
            <ul class="tags hover-color-three">
              <li>
                <a href="javascript:void(0)"> <i class="las la-clock"></i> 16 Feb 2022 </a>
              </li>
              <li>
                <a href="javascript:void(0)"> <i class="las la-tag"></i> Cleaning </a>
              </li>
            </ul>
            <h4 class="common-title-two hover-color-three"> <a href="blog_details.html"> Home & All Other Cleaning Services </a> </h4>
            <p class="common-para"> It is a long established fact that a reader will be distracted by the readable </p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 margin-top-30">
        <div class="single-blog style-03 wow fadeInDown" data-wow-delay=".2s">
          <a href="blog_details.html" class="blog-thumb">
            <img src="assets/img/blog/b4.jpg" alt="">
          </a>
          <div class="blog-contents">
            <ul class="tags hover-color-three">
              <li>
                <a href="javascript:void(0)"> <i class="las la-clock"></i> 17 Feb 2022 </a>
              </li>
              <li>
                <a href="javascript:void(0)"> <i class="las la-tag"></i> Saloon </a>
              </li>
            </ul>
            <h4 class="common-title-two hover-color-three"> <a href="blog_details.html"> All Emergency Electrical Support </a> </h4>
            <p class="common-para"> It is a long established fact that a reader will be distracted by the readable </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Blog area end -->
<!-- footer area start -->
<footer class="footer-area color-three gradient-footer">
  <div class="footer-top padding-top-100 padding-bottom-70">
    <div class="container container-two">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer-widget widget">
            <div class="about_us_widget">
              <a href="index.html" class="footer-logo"> <img src="assets/img/logo-02.png" alt="footer logo"></a>
            </div>
            <div class="footer-inner">
              <p class="footer-para">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer-widget widget">
            <h4 class="widget-title">Recent News</h4>
            <div class="footer-inner">
              <div class="footer-recent-single">
                <div class="footer-recent-flex">
                  <a href="javascript:void(0)" class="recents-thumbs">
                    <img src="assets/img/footer/n1.jpg" alt="">
                  </a>
                  <div class="footer-recent-text">
                    <a href="javascript:void(0)" class="footer-recent-para"> Everything opened for the sake of livelihood. </a>
                  </div>
                </div>
              </div>
              <div class="footer-recent-single">
                <div class="footer-recent-flex">
                  <a href="javascript:void(0)" class="recents-thumbs">
                    <img src="assets/img/footer/n2.jpg" alt="">
                  </a>
                  <div class="footer-recent-text">
                    <a href="javascript:void(0)" class="footer-recent-para"> Mary Lou Retton Is for the All About the Memories. </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer-widget widget">
            <h6 class="widget-title">Contact Info</h6>
            <div class="footer-inner">
              <ul class="footer-link-address">
                <li class="list"><span class="address"> <i class="las la-map-marker-alt"></i> Road 41/1, Hilton Mall, Washington City New York </span></li>
                <li class="list"> <span class="address"> <a href="tel:+012-78901234"> <i class="las la-mobile-alt"></i> +012-78901234</a> </span></li>
                <li class="list"> <span class="address"> <a href="mailto:help@mail.com"> <i class="las la-envelope"></i> help@mail.com</a> </span></li>
              </ul>
              <div class="footer-socials">
                <ul class="footer-social-list">
                  <li class="lists">
                    <a class="facebook" href="#0"> <i class="lab la-facebook-f"></i> </a>
                  </li>
                  <li class="lists">
                    <a class="twitter" href="#0"> <i class="lab la-twitter"></i> </a>
                  </li>
                  <li class="lists">
                    <a class="instagram" href="#0"> <i class="lab la-instagram"></i> </a>
                  </li>
                  <li class="lists">
                    <a class="youtube" href="#0"> <i class="lab la-youtube"></i> </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer-widget widget">
            <h4 class="widget-title">Subscribe Newsletter</h4>
            <div class="footer-inner">
              <p class="subscribe-para"> Get the latest creative news from Qixer template </p>
              <div class="subscribe-form">
                <form class="widget-form-single" action="#">
                  <input class="form--control" type="text" name="email" placeholder="Enter Email Address">
                  <button type="submit" class="btn-subscribe"> <i class="las la-paper-plane"></i> </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area style-02 copyright-border">
    <div class="container container-two">
      <div class="row align-items-center">
        <div class="col-lg-4 col-md-6">
          <ul class="copyright-list">
            <li class="list">
              <a href="javascript:void(0)"> Privacy Policy </a>
            </li>
            <li class="list">
              <a href="javascript:void(0)"> Terms & Conditions </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="copyright-contents">
            <span> All copyright (C) 2022 Reserved </span>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="copyright-payment">
            <ul class="payment-list">
              <li class="list">
                <a href="javascript:void(0)"> <img src="assets/img/footer/c1.png" alt=""> </a>
              </li>
              <li class="list">
                <a href="javascript:void(0)"> <img src="assets/img/footer/c2.png" alt=""> </a>
              </li>
              <li class="list">
                <a href="javascript:void(0)"> <img src="assets/img/footer/c3.png" alt=""> </a>
              </li>
              <li class="list">
                <a href="javascript:void(0)"> <img src="assets/img/footer/c4.png" alt=""> </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer area end -->

<!-- back to top area start -->
<div class="back-to-top style-03">
  <span class="back-top"><i class="las la-angle-up"></i></span>
</div>
<!-- back to top area end -->
