<fieldset>
  <div class="information-all margin-top-60">
    <div class="info-success">
      <div class="single-success margin-top-30">
        <div class="success-content">
          <div class="icon">
            <i class="las la-check"></i>
          </div>
          <h3 class="success-title">Your Demande Add Successful</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-wrapper text-center margin-top-35">
    <a href="#"[routerLink]="['/client/listService']" class="cmn-btn btn-bg-1">Back To Services</a>
  </div>
</fieldset>
