<nav class="navbar navbar-area navbar-two navbar-expand-lg navbar-bg-1">
  <div class="container container-two nav-container">
    <div class="responsive-mobile-menu">
      <div class="logo-wrapper">
        <a href="index.html" class="logo">
          <img class="imgLogo" src="assets/img/logo.png" alt="">
        </a>
      </div>
      <a href="#0" class="click_show_icon">
        <i class="las la-ellipsis-v"></i>
      </a>
      <button class="navbar-toggler black-color" type="button" data-toggle="collapse" data-target="#bizcoxx_main_menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bizcoxx_main_menu">
      <ul class="navbar-nav">
        <li>
          <a href="#" routerLink="/home">Home</a>
        </li>
        <li><a href="#" routerLink="/about">About</a></li>
        <li><a href="#" routerLink="/client/listService">Service List</a></li>
        <li class="menu-item-has-children">
          <a href="javascript:void(0)">Others</a>
          <ul class="sub-menu">
            <li><a href="#" routerLink="/category">All Category</a></li>
            <li><a href="service_details.html">Service Details</a></li>
            <li><a href="#" routerLink="/faq">FAQ</a></li>
          </ul>
        </li>
        <li class="menu-item-has-children">
          <a href="javascript:void(0)">Blog</a>
          <ul class="sub-menu">
            <li><a href="#" routerLink="/blog">Blog</a></li>
            <li><a href="blog_details.html">Blog Details</a></li>
          </ul>
        </li>
        <li><a href="#" routerLink="/addContact">contact</a></li>

        <li class="menu-item-has-children">
          <a href="javascript:void(0)">Login</a>
          <ul class="sub-menu">
            <li><a href="#" routerLink="/login">Login</a></li>
            <li><a href="#" routerLink="/register">Register</a></li>
            <li><a href="#" routerLink="/logout">Logout</a></li>
          </ul>
        </li>

      </ul>
    </div>
    <div class="nav-right-content">
      <div class="info-bar-item">
        <div class="notification-icon icon">
          <a class="single-icon" href="javascript:void(0)"> <i class="las la-bell"></i> </a>
          <span class="notification-number"> 5 </span>
          <div class="notification-list-wrapper">
            <h6 class="notification-title"> Notifications </h6>
            <ul class="notification-list">
              <li class="list">
                <div class="notification-list-flex">
                  <div class="item-icon">
                    <i class="las la-bell"></i>
                  </div>
                  <div class="notification-contents">
                    <a class="list-title" href="javascript:void(0)"> Notification One </a>
                    <span class="list-sub"> 4 hours ago </span>
                  </div>
                </div>
              </li>
              <li class="list">
                <div class="notification-list-flex">
                  <div class="item-icon">
                    <i class="las la-bell"></i>
                  </div>
                  <div class="notification-contents">
                    <a class="list-title" href="javascript:void(0)"> Notification Two </a>
                    <span class="list-sub"> 8 hours ago </span>
                  </div>
                </div>
              </li>
              <li class="list">
                <div class="notification-list-flex">
                  <div class="item-icon">
                    <i class="las la-bell"></i>
                  </div>
                  <div class="notification-contents">
                    <a class="list-title" href="javascript:void(0)"> Notification Three </a>
                    <span class="list-sub"> 1 day ago </span>
                  </div>
                </div>
              </li>
              <li class="list">
                <div class="notification-list-flex">
                  <div class="item-icon">
                    <i class="las la-bell"></i>
                  </div>
                  <div class="notification-contents">
                    <a class="list-title" href="javascript:void(0)"> Notification Four </a>
                    <span class="list-sub"> 3 day ago </span>
                  </div>
                </div>
              </li>
              <li class="list">
                <div class="notification-list-flex">
                  <div class="item-icon">
                    <i class="las la-bell"></i>
                  </div>
                  <div class="notification-contents">
                    <a class="list-title" href="javascript:void(0)"> Notification Five </a>
                    <span class="list-sub"> 7 day ago </span>
                  </div>
                </div>
              </li>
            </ul>
            <a href="javascript:void(0)" class="all-notification"> See All Notification </a>
          </div>
        </div>
      </div>
      <a href="javascript:void(0)" class="info-bar-item-two">
        <div class="author-thumb">
          <img src="assets/img/author-nav.jpg" alt="">
        </div>
        <div class="author-nav-content">
          <span class="title"> Alex Jerin </span>
        </div>
      </a>
    </div>
  </div>
</nav>
