<!-- Dashboard area Starts -->
<div *ngIf="userRole === 'ADMIN'" class="body-overlay">
  <div class="dashboard-area dashboard-padding">
    <div class="container-fluid">
      <div class="dashboard-contents-wrapper">
        <div class="dashboard-icon">
          <div class="sidebar-icon">
            <i class="las la-bars"></i>
          </div>
        </div>
        <div class="dashboard-left-content">
          <div class="dashboard-close-main">
            <div class="close-bars"> <i class="las la-times"></i> </div>
            <div class="dashboard-top padding-top-40">
              <div class="thumb">
                <img src="assets/img/dashboard/authors.jpg" alt="">
              </div>
              <div class="author-content">
                <h4 class="title"> Alex Jenin </h4>
                <span class="small-title"> Owner CleanMart </span>
              </div>
            </div>
            <div class="dashboard-bottom margin-top-35 margin-bottom-50">
              <ul class="dashboard-list">
                <li class="list active">
                  <a href="#" routerLink="/admin/listContact"> <i class="las la-th"></i> Dashboard </a>
                </li>
                <li class="list has-children">
                  <a href="javascript:void(0)"> <i class="las la-cogs"></i> Services </a>
                  <ul class="submenu">
                    <li class="list"> <a href="#" routerLink="/admin/listService"> All Services </a> </li>
                    <li class="list"> <a href="#" routerLink="/admin/editService"> Edit Services </a> </li>
                  </ul>
                </li>
                <li class="list">
                  <a href="#" routerLink="/admin/listPrestataire"> <i class="las la-tasks"></i> Prestataire </a>
                </li>
                <li class="list">
                  <a href="#" routerLink="/admin/listClient"> <i class="las la-tasks"></i> Client </a>
                </li>
                <li class="list">
                  <a href="dashboard_payout.html"> <i class="las la-dollar-sign"></i> Payout History </a>
                </li>
                <li class="list has-children">
                  <a href="javascript:void(0)"> <i class="las la-user"></i> Profile </a>
                  <ul class="submenu">
                    <li class="list"> <a href="dashboard_profile.html"> Profile </a> </li>
                    <li class="list"> <a href="dashboard_editprofile.html"> Edit Profile </a> </li>
                  </ul>
                </li>
                <li class="list">
                  <a href="dashboard_settings.html"> <i class="las la-cog"></i> Settings </a>
                </li>
                <li class="list">
                  <a href="dashboard_review.html"> <i class="lar la-star"></i> Review </a>
                </li>
                <li class="list">
                  <a href="#" routerLink="/logout"> <i class="las la-sign-out-alt"></i> Log Out </a>
                </li>
              </ul>
              <div class="dashboard-logo padding-top-20">
                <a href="index.html" class="logo">
                  <img src="assets/img/logo.png" alt="">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="dashboard-right">
          <div class="row">
            <div class="col-xl-3 col-md-6 margin-bottom-30 orders-child">
              <div class="single-orders">
                <div class="orders-shapes">
                  <img src="assets/img/dashboard/orders-shapes.png" alt="">
                </div>
                <div class="orders-flex-content">
                  <div class="icon">
                    <i class="las la-tasks"></i>
                  </div>
                  <div class="contents">
                    <h2 class="order-titles"> 12 </h2>
                    <span class="order-para"> Order Pending </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 margin-bottom-30 orders-child">
              <div class="single-orders" style="box-shadow: 0px 4px 15px rgba(128, 0, 128, 0.5);">
                <div class="orders-shapes">
                  <img src="assets/img/dashboard/orders-shapes2.png" alt="">
                </div>
                <div class="orders-flex-content">
                  <div class="icon">
                    <i class="las la-handshake"></i>
                  </div>
                  <div class="contents">
                    <h2 class="order-titles"> 2350 </h2>
                    <span class="order-para"> Order Completed </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 margin-bottom-30 orders-child">
              <div class="single-orders" style="box-shadow: 0px 4px 15px rgba(128, 0, 128, 0.5);">
                <div class="orders-shapes">
                  <img src="assets/img/dashboard/orders-shapes3.png" alt="">
                </div>
                <div class="orders-flex-content">
                  <div class="icon">
                    <i class="las la-dollar-sign"></i>
                  </div>
                  <div class="contents">
                    <h2 class="order-titles"> 12 </h2>
                    <span class="order-para"> Total Earning </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6 margin-bottom-30 orders-child">
              <div class="single-orders" style="box-shadow: 0px 4px 15px rgba(128, 0, 128, 0.5);">
                <div class="orders-shapes">
                  <img src="assets/img/dashboard/orders-shapes4.png" alt="">
                </div>
                <div class="orders-flex-content">
                  <div class="icon">
                    <i class="las la-file-invoice-dollar"></i>
                  </div>
                  <div class="contents">
                    <h2 class="order-titles"> 2350 </h2>
                    <span class="order-para"> Balance </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Section for Prestataire -->
<div *ngIf="userRole === 'PRESTATAIRE'" class="body-overlay">
  <app-prestataire></app-prestataire>
</div>

<!-- Back to top area start -->
<div class="back-to-top">
  <span class="back-top"><i class="las la-angle-up"></i></span>
</div>
<!-- Back to top area end -->
