
<!-- preloader area start -->
<!-- <div class="preloader" id="preloader">
    <div class="preloader-inner">
        <div class="loader_bars">
            <span></span>
        </div>
    </div>
</div> -->
<!-- preloader area end -->
<!-- Header area Starts -->
<header class="header-style-01">
  <!-- Menu area Starts -->
<app-nav-bar></app-nav-bar>
  <!-- Menu area end -->
</header>
<div class="overlays"></div>
<!-- Header area end -->
<!-- Banner Inner area Starts -->
<div class="banner-inner-area section-bg-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="banner-inner-contents text-center">
          <h2 class="banner-inner-title"> Register For Join With Us </h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Inner area end -->
<!-- Register Step Form area starts -->
<section class="registration-step-area padding-top-100 padding-bottom-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="registration-seller-btn">
          <ul class="registration-tabs tabs">
            <li data-tab="tab_one" class="active">
              <div class="single-tabs-registration">
                <div class="icon">
                  <i class="las la-user-alt"></i>
                </div>
                <div class="contents">
                  <h4 class="title"> Client </h4>
                </div>
              </div>
            </li>
            <li data-tab="tab_two">
              <div class="single-tabs-registration">
                <div class="icon">
                  <i class="las la-handshake"></i>
                </div>
                <div class="contents">
                  <h4 class="title"> provider </h4>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="tab-content-item active" id="tab_one">
          <div class="registration-step-form margin-top-55">
           <app-register-client></app-register-client>
          </div>
        </div>
        <div class="tab-content-item" id="tab_two">
          <div class="registration-step-form margin-top-55">
           <app-register-praistataire></app-register-praistataire>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Register Step Form area end -->
<!-- footer area start -->
<app-footer></app-footer>
<!-- footer area end -->

<!-- back to top area start -->
<div class="back-to-top">
  <span class="back-top"><i class="las la-angle-up"></i></span>
</div>
<!-- back to top area end -->
